body {
  background-color: rgb(138, 165, 185);
  color: rgb(226, 223, 223);
  margin: 75px;
  font-family: 'Source Serif Pro', serif;
}

h1 {
  font-size: 50px;
  color: rgb(76, 101, 119);
  margin-bottom: 10px;
}

h2 {
  font-size: 35px;
  color: rgb(76, 101, 119);
}

h3 {
  font-size: 25px;
}

input {
  border: none;
  border-radius: 4px;
  margin-left: 10px;
}

.button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  border-radius: 8px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: box-shadow 0.15s;
}

.button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)
}

.logoutSignInButton {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(226, 223, 223);
  background: none;
  border: none;
  border-radius: 10px;
  padding-left: 0px;
  margin-bottom: 10px;
  cursor: pointer;
}

.welcomeText {
  margin-bottom: 30px;
}

.isbn, .title, .author {
  width: 400px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.isbn {
  margin-left: 30px;
}

.title {
  margin-left: 33px;
}

.author {
  margin-left: 15px;
}

.form-control {
  width: 480px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

