{% extends "base.html" %}

{% block head %}
<title>
  {% if title %}
  {{ title | safe }}
  {% endif %}
</title>

{% endblock %}

{% block body %}
<div>
  <!-- Logout -->
  <form action="/logout" method="POST">
    <button class="logoutSignInButton">LOGOUT</button>
  </form>

  <div>
    <!-- Provides user with book information -->
    <h1>
      {% if title %}
      <p>{{ title | safe }}</p>
      {% endif %}
    </h1>

    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">
            ISBN
          </th>
          <td>
            {% if isbn %}
            <p>{{ isbn | safe }}</p>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">Title</th>
          <td>
            {% if title %}
            <p>{{ title | safe }}</p>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">Author</th>
          <td>
            {% if author %}
            <p>{{ author | safe }}</p>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">Year</th>
          <td>
            {% if year %}
            <p>{{ year | safe }}</p>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">Average Rating</th>
          <td>
            {% if averageRating %}
            <p>{{ averageRating | safe }}</p>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">Number of Ratings</th>
          <td>
            {% if numberOfRating %}
            <p>{{ numberOfRating | safe }}</p>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Return to Search -->
    <form action="/returnToSearch" method="POST">
      <button class="button" style="margin-top: 5px; margin-bottom: 20px">Return to Search</button>
    </form>
  </div>
  <div>
    <p style="font-weight: bold; text-decoration: underline; margin-top: 10px;">
      Read this book? Leave a review below!
    </p>
    <!-- User review submission -->
    <form action="/review", method="POST">
      <!-- User's rating of book -->
      <label for="rating">Rating:</label>
      <select id="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select><br></br>

      <!-- Review input -->
      <label for="review">Review: </label><br></br>
      <div class="mb-3">
        <textarea class="form-control" id="review" name="review" rows="7" style="margin-top: -20px; margin-bottom: -50px"></textarea><br></br>
      </div>

      <!-- Submit button-->
      <button class="button">Submit Review</button>

      <!-- Hidden ISBN variable used for 'reviews' table -->
      <input type="text" id = "isbn" name="isbn" value ="{{ isbn | safe }}" hidden="True">
    </form>
  </div>
  <div>
    <p style="font-weight: bold; text-decoration: underline; margin-top: 15px;">Reviews from others: </p>

    <!-- Displays existing reviews of the book from database table 'reviews'-->
    {% if reviews %}
        {% for review in reviews %}
            <p>{{ review.review }}</p>
        {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}
