{% extends "base.html" %}

{% block head %}
<title>Error</title>

{% endblock %}

{% block body %}
<div>
  <!-- Logout -->
  <form action="/logout" method="POST">
    <button class="logoutSignInButton">LOGOUT</button>
  </form>

  <h1>Error</h1>

  {% if error %}
  <p style="color:rgb(226, 223, 223);">{{ error | safe }}</p>
  {% endif %}

  <!-- Return to Search -->
  <form action="/returnToSearch" method="POST">
    <button class="button">Return to Search</button>
  </form>
</div>

{% endblock %}