{% extends "base.html" %}

{% block head %}
<title>
  {% if error %}
  Error
  {% endif %}

  {% if success %}
  Success
  {% endif %}
</title>

{% endblock %}

{% block body %}
<div>
  <!-- Logout -->
  <form action="/logout" method="POST">
    <button class="logoutSignInButton">LOGOUT</button>
  </form>

  <h1>
    {% if error %}
    Error
    {% endif %}

    {% if success %}
    Success
    {% endif %}
  </h1>

  {% if error %}
  <p style="color:rgb(226, 223, 223);">{{ error | safe }}</p>
  {% endif %}

  {% if success %}
    <p class="success" style="color:rgb(226, 223, 223);">{{ success | safe }}</p>
  {% endif %}

  <!-- Return to Search -->
  <form action="/returnToSearch" method="POST">
    <button class="button">Return to Search</button>
  </form>
</div>

{% endblock %}